<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="styles.css" />

<script type="text/javascript" src="jquery-1.7.1.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.17.custom.min.js"></script>
<style type="text/css">
<!--
.style1 {
	font-size: 18px;
	font-weight: bold;
}
.login1{ margin-left:1100px;
			margin-top:0px;}
.all{margin-left:1100px;
		margin-top:20px;}
.logout1{
			margin-left:1100px;
			margin-top:20px;}
-->
</style>
</head>

<body>
<div id="header" class="header-container">
	<a href="index.html">
    <img class="logo" src="ecodena logo.png"/>
    </a>
    
    <div id="login" class="login1"><FORM>
<INPUT TYPE="BUTTON" VALUE="Log In" ONCLICK="window.location.href='file:///C:/Users/harsh/Desktop/Sen%20Site/login.html'">
<input type="BUTTON" value="Logout" onclick=<!--"window.location.href='file:///C:/Users/harsh/Desktop/Sen%20Site/login.html'"-- />
    </FORM>
    </div>
     <div id="logout" class="logout1"><FORM>
       <input type="BUTTON" value="ALL Questions" onclick="window.location.href='file:///C:/Users/harsh/Desktop/Sen%20Site/all%20questions.html'" />
     </FORM>
    </div>
    <div id="questions" class="all"><FORM>
    </FORM></div>
    <!--<div id="h2" class="paddind">-->
      <h> <div align="center" class="style1">Your Question</div></div><br /><br /><br /><br />
        <p align="center" class="style1"><strong> What do you want from me ?</strong></p>
    
    
  <div class="scratchpad" style="display:block;">
    	<div class="marginscratchpad">
        	<textarea rows="15" cols"1" readonly="readonly">1
2
3
4
5
6</textarea>
      </div>
         <form action="" method="post" name="codeditor">
         <div class="text-area-scratchpad">
         	<textarea name="code" rows="15" cols="60" spellcheck="false" >int main()
     printf("hello world");
            </textarea>
         </div>
        <div class="footer-scratchpad">
    <div class="compilebutton" onclick="">Submit
    </div>
             <form method="post" enctype="multipart/form-data" action="">
                <input type="file" class="choosefilebutton" name="upflile"<br>
                <input type="submit" class="uploadbutton" value="Upload" />
             </form>
             <form id="form1" name="form1" method="post" action="">
               <select name="LanguageSelector" size="1" id="LanguageSelector">
            <option>Python 2.7</option>
            <option>Java</option>
            <option>C</option>
            <option>C++</option>
            <option>Python 3.1</option>
          </select>
      </form>
  </div>
         </form>
</div>
        <form id="form1" name="form1" method="post" action="">
        </form>
        <p>&nbsp;</p>
        <div class="main">
        </div>
</body>
</html>
