{% extends "base.html" %}
{% block title %}
	{% if targetuser %}
	Profile - {{ targetuser }}
	{% else %}
	Profile {{ user }}
	{% endif %}
{% endblock %}

{% block content %}

<div class="profilebox">
		<br /> <br />
    	<span class="profile-page-username-font"> {{user.first_name}} {{user.last_name}}  
    	</span>
    	<br />
    	<br />
        <div class="profile-header">
        	<div class="about-user active" onclick='changeActive(this,".profilebox .user-info")'><span> EditProfile</span>
            </div>
            
           </div> 
            <script>
            	function changeActive(elem,id)
                {
                	$(".profile-header .active").removeClass("active");
                    $(elem).addClass("active");
					$(".profilebox .active-desc").removeClass("active-desc");
					$(id).addClass("active-desc");
                }
            </script>
            <div class="user-info active-desc">
				<form action="" method="POST">{%csrf_token%}
				{{ form.non_field_errors }}
					<div class="editprofilebox">
					<span> {{form.fname.errors }}First Name <span style="padding-left:40px">{{form.fname}}</span></span><br /><br />
					<span>{{form.lname.errors}} Last Name <span style="padding-left:41px">{{form.lname}}</span></span><br /><br />
					<span>{{form.dob.errors}} DOB <span style="padding-left:103px">{{form.dob}}</span></span><br /><br />
					<span>{{form.gender.errors}} Gender<span style="padding-left:85px">{{form.gender}}</span></span><br /><br />
					<span style="display:inline">{{form.address.errors}} Address<span style="padding-left:162px">{{form.address}}</span></span><br /><br /> 	
					</div>
				<input type="submit"  class="submitButton " id="commentbutton" value="Save Changes" />	<br />		
				</form>	
				<form action="/accounts/change_password/">
				<input type="submit"  class="submitButton " id="commentbutton" value="Change Password" />
				</form>
            </div>
</div>
{% endblock %}
