{% extends "base.html" %}
{% block title %}
	{% if targetuser %}
	Profile - {{ targetuser }}
	{% else %}
	Profile {{ user }}
	{% endif %}
{% endblock %}

{% block content %}

<div class="profilebox">
    	<span class="profile-page-username-font"> {{user.first_name|upper}} {{user.last_name|upper}}   	
    	</span>
    	
        <div class="profile-header">
			{% if targetuser %}
        	<div class="about-user active" onclick='changeActive(this,".profilebox .user-info")'><span> EditProfile</span>
            </div>
            {%endif%}
            <script>
            	function changeActive(elem,id)
                {
                	$(".profile-header .active").removeClass("active");
                    $(elem).addClass("active");
					$(".profilebox .active-desc").removeClass("active-desc");
					$(id).addClass("active-desc");
                }
            </script>
            <div class="user-info active-desc">
				<form action="" method="POST">{%csrf_token%}
					<div>
					<span>First Name <span style="padding-left:40px">{{form.fname}}</span></span><br /><br />
					<span>Last Name <span style="padding-left:41px">{{form.lname}}</span></span><br /><br />
					<span>DOB <span style="padding-left:96px">{{form.dob}}</span></span><br /><br />
					<span>Gender<span style="padding-left:80px">{{form.gender}}</span></span><br /><br />
					<span style="display:inline">Address<span style="padding-left:150px">{{form.address}}</span></span><br /><br /> 	
					</div>
				<input type="submit"  class="submitButton savechangesbutton" id="commentbutton" value="Save Changes" />	<br />		
				</form>	
				<form action="/accounts/change_password/">
				<input type="submit"  class="submitButton savechangesbutton" id="commentbutton" value="Change Password" />
				</form>
            </div>
            
            
            <div class="badge-info">
				<form action="." method="POST">{%csrf_token%}
				<span> Current Password<span style="padding-left:40px"> {{form.old_password}} </span></span><br /><br />
				<span> New Password<span style="padding-left:50px">:{{profile.dob}}</span></span><br /><br />
				<input type="submit"  class="submitButton changepasswordsbutton" id="commentbutton" value="Change Password" />      
				</form>
			</div>
		</div>
</div>
{% endblock %}
