{% extends "base.html" %}
{% block title %}
	{% if targetuser %}
	Profile - {{ targetuser }}
	{% else %}
	Profile {{ user }}
	{% endif %}
{% endblock %}

{% block content %}

<div class="profilebox">
    	<span class="profile-page-username-font"> {{user.first_name|upper}} {{user.last_name|upper}}   	
    	</span>
    	
        <div class="profile-header">
        	<div class="about-user active" onclick='changeActive(this,".profilebox .user-info")'><span> ChangePassword</span>
            </div>
            <script>
            	function changeActive(elem,id)
                {
                	$(".profile-header .active").removeClass("active");
                    $(elem).addClass("active");
					$(".profilebox .active-desc").removeClass("active-desc");
					$(id).addClass("active-desc");
                }
            </script>
            <div class="user-info active-desc">
				<form action="" method="POST">{%csrf_token%}
					<div>
					<span>Current Password <span style="padding-left:70px">{{form.old_password}}</span></span><br /><br />
					<span>New Password <span style="padding-left:100px">{{form.new_password1}}</span></span><br /><br />
					<span>Confirm New Password <span style="padding-left:14px">{{form.new_password2}}</span></span><br /><br />
 	
					</div>
				<input type="submit"  class="submitButton savechangesbutton" id="commentbutton" value="Save New Password" />	<br />		
				</form>	
            </div>
		</div>
</div>
{% endblock %}

