{% extends "base.html" %}
{% block title %}
	{% if targetuser %}
	Profile - {{ targetuser }}
	{% else %}
	Profile {{ user }}
	{% endif %}
{% endblock %}

{% block content %}

<div class="profilebox changepasswordbox">
		<br/><br/>
    	<span class="profile-page-username-font"> {{user.first_name}} {{user.last_name}}   	
    	</span>
    	<br/>
    	<br/>
        <div class="profile-header">
        	<div class="about-user active changepassword" onclick='changeActive(this,".profilebox .user-info")'><span> ChangePassword</span>
            </div>
            <script>
            	function changeActive(elem,id)
                {
                	$(".profile-header .active").removeClass("active");
                    $(elem).addClass("active");
					$(".profilebox .active-desc").removeClass("active-desc");
					$(id).addClass("active-desc");
                }
            </script>
            <div class="user-info active-desc">
				<form action="" method="POST">{%csrf_token%}
					{{form.non_field_errors}}
					<table>
						<tr>
							<td>Current Password</td> 
							<td>{{form.old_password}} {{form.old_password.errors}}</td>
						</tr>
						<tr><td>New Password </td>
							<td>{{form.new_password1}}{{form.new_password1.errors}}</td>
						</tr>
						<tr><td>Confirm New Password </td>
							<td>{{form.new_password2}}{{form.new_password2.errors}}</td>
						</tr>
					
					</table>
				<input type="submit"  class="submitButton savechangesbutton" id="commentbutton" value="Save New Password" />	<br />		
				</form>	
            </div>
		</div>
</div>
{% endblock %}

