<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<link rel="stylesheet" type="text/css" href="styles.css" />
<script type="text/javascript" src="jquery-1.7.1.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="scripts.js"></script>
<body>
<div id="header" class="header-container">
	<a href="index.html">
    <img class="logo" src="ecodena logo.png"/>
    </a>
    <form accept-charset="UTF-8" action="" method="get">
        <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="" />
        </div>
        <input type="text" id="search" name="q" class="searchbar" />
    </form>
    <div class="container">
    <div class="arrow">User</div>
    <div><img border="0" src="search_white.png" width="16" height="16" class="searchicon"/>
   	  <img border="0" src="search.png" width="16" height="16" class="searchiconhover"/></div>
	<div class="dropdown">
        <ul>
            <li><span class="registertext">Profile</span></li>
            <li><span class="registertext">Logout</span></li>  
      </ul>
     </div>
    </div>
</div>
     <div class="userprofilebox">
     	<div class="profilenamefont"> Test Name </div>
        <div class="profilenamefont"> Badges Earned </div>
     </div>
     <div id="profileboxright" class="userprofilebox">
     </div>
</body>
</html>
