{% extends "base.html" %}
{% block title %}
	{% if targetuser %}
	Profile - {{ targetuser }}
	
	{% else %}
	Profile {{ user }}
	
	{% endif %}
{% endblock %}

{% block content %}  
	<div class="profilebox">
		<br /><br />
    	<span class="profile-page-username-font"> {% firstof targetuser.first_name user.first_name%} {%firstof targetuser.last_name user.last_name %}
		{% if other == 1 %}
		<span style="display:inline"><form action="/profile/edit/"><input type="submit"  class="submitButton editprofilebutton" id="commentbutton" value="Edit Profile" > </form></span>   	
    	</span>
    	{% endif %}
        <div class="profile-header">
        	<div class="about-user active" onclick='changeActive(this,".profilebox .user-info")'><span> BasicInfo</span>
            </div>
            <div class="badges" onclick='changeActive(this,".profilebox .badge-info")'> <span> PersonalInfo</span>
            </div>
            <div class="question" onclick='changeActive(this,".profilebox .question-info")'> <span style="padding-left:13px;"> Questions</span>
            </div>
            <!--div class="allattempts" onclick='changeActive(this,".profilebox .allattempts-info")'> <span style="padding-left:13px;"> AllAttempts</span>
            </div-->
            <script>
            	function changeActive(elem,id)
                {
                	$(".profile-header .active").removeClass("active");
                    $(elem).addClass("active");
					$(".profilebox .active-desc").removeClass("active-desc");
					$(id).addClass("active-desc");
                }
            </script>
        </div>
        <div class="user-info active-desc">
	        <span> Username <span style="padding-left:40px">:{%firstof targetuser.username user.username%}</span></span><br /><br />
   	     <span> Email</span><span style="padding-left:84px">:{% firstof targetuser.email user.email%}</span><br /><br />
      	  <span> Name<span style="padding-left:84px">:{%firstof targetuser.first_name user.first_name%} {%firstof targetuser.last_name user.last_name%}</span></span><br /><br />
	        <span> Points<span style="padding-left:90px">:{{profile.points_f}}</span></span><br /><br />
	        <span> Rank<span style="padding-left:90px">:{{profile.rank_f}}</span></span><br /><br />
	      	<table border="1px" style="float:right" width="100%">
				<tr>
				<th>Total Attempts</th>
				<th>Correct Attempts</th>
				<th>Wrong Answers</th>
				<th>Compile Error</th>
				<th>Runtime Error</th>
				<th>Time Limit Exceeded</th>
				<th>Memory Limit Exceeded</th>
				</tr>
				<tr>
				<td style="padding-left:30px">{{countAttempt}}</td>
				<td style="padding-left:30px">{{countCorrect}}</td>
				<td style="padding-left:30px">{{countWrongAnswer}}</td>
				<td style="padding-left:30px">{{countCompileError}}</td>
				<td style="padding-left:30px">{{countRunTimeError}}</td>
				<td style="padding-left:50px">{{countTimeLimitExceeded}}</td>
				<td style="padding-left:55px">{{countMemoryLimitExceeded}}</td>			
				</tr>
				</table>
        </div>
        <div class="badge-info">
				<span> Name<span style="padding-left:40px">:{%firstof targetuser.first_name user.first_name%} {%firstof targetuser.last_name user.last_name%}</span></span><br /><br />
     	  		 <span> DOB<span style="padding-left:50px">:{{profile.dob}}</span></span><br /><br />
   	   	  {%if profile.gender == 0%}
    	 		  <span> Gender<span style="padding-left:30px">:Male</span></span><br /><br />
    	 	   	{%else%}
   	   	  <span> Gender<span style="padding-left:30px">:Female</span></span><br /><br />
    	   		 {%endif%}
	   	     <span> Address<span style="padding-left:25px">:{{profile.address}}</span></span><br /><br />        
        </div>
        <div class="question-info">
			<a href="/solutions/" id="browse-font" style="margin-left:0px" >Browse All Attempts</a><a href="/questions/" id="browse-font" style="margin-left:200px" >Browse All Questions</a><br />
	        <span>Successful Attempts</span>
	        	<div class="questionbox">
					<table style="padding:5px" >
					{%for a in attempts%}
					<tr><td style="padding:2px"><a href="/questions/{{a.questionID_f.questionID_f }}" style="color:#fff">{{a.questionID_f.questionTitle}}</a></td></tr>			
					<!--<tr><td><span style="color:#ae0000">Status:</span> <a style="color:#000">{{attempt.status_f}}</a><span style="color:#ae0000"> Error Report:</span><a style="color:#000">{{attempt.errorReportID.errorType_f}}</a></td>-->			
					</tr>	
					{%endfor%}
					</table>       	
				</div>
			</div>
			{% if not targetuser %}
			<div id="recommendation-box">
				<h2>Recommendations</h2>
				<div class="question-box">
				<iframe name='iframe1' id="iframe1" frameborder="0" border="0" cellspacing="0" style="border-style: none;width: 100%; height: 100%;" src="/recommendations/">
  				<p>Your browser does not support iframes.</p>
				</iframe>
				</div>
			</div>
			{% endif %}
		<div class="footer-text">
	<a href="index.html" style="color:#000;padding-left:300px">Contact US |
    </a>
   	<a href="/wiki/" style="color:#000;"> Wiki |
    </a>  
    <a href="/forum/"style="color:#000;">Forums
    </a>
    </div>
		</div>

	
{% endblock %}
