{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
        <div id="liw" class="loginwindow-container" align=center>
        	
             <form action="" method="post">
				 <div class="relement" align=center><h1 style="color:#fff"> Don't have a account yet? Sign Up</h1></div>
				<!--for loop was here -->
					{{ form.non_field_errors }}
					<div class="relement" align=center>
						<div class="usernamefont">{{ field.errors }}
						</div>	
						<table>
						<tr><td ><span class="usernamefont registerpage">{{form.username.label}}</span></td>
						<td style="float:left">{{form.username}}</td>
						<td style="width:30px">{{form.username.errors}}</td>
						</tr>	
						<tr><td class="usernamefont">{{form.password1.label}}</td>
						<td style="float:left">{{form.password1}}</td>
						<td style="width:30px">{{form.password1.errors}}</td>
						</tr>	
						<tr><td class="usernamefont">Confirm Password</td>
						<td style="float:left">{{form.password2}}</td>
						<td style="width:30px">{{form.password2.errors}}</td>
						</tr>	
						<tr><td class="usernamefont">{{form.email.label}}</td>
						<td style="float:left">{{form.email}}</td>
						<td style="width:30px">{{form.email.errors}}</td>
						</tr>				
						<tr><td class="usernamefont">{{form.first_name.label}}</td>
						<td style="float:left">{{form.first_name}}</td>
						<td style="width:30px">{{form.first_name.errors}}</td>
						</tr>		
						<tr><td class="usernamefont">{{form.last_name.label}}</td>
						<td style="float:left">{{form.last_name}}</td>
						<td style="width:30px">{{form.last_name.errors}}</td>
						</tr>	
						</table>			
						<!--<div class="usernamefont">
						{{ field.label_tag }} &nbsp
						</div> 
						<div class="testfield">{{ field }}
						</div>-->
						
					</div>
				<!-- for loop ended here-->
				<!-- -->
				<div  class="element" id="submit"><input type="submit" class="submitButton" id="signupbutton" value="Register" /></div>
			</form>
        </div>   
    </div>
 </div>
<div class="main">
</div>

{% endblock %}

