@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
header,nav,section,aside,footer{
display:block;
}

img{
border:none;
}

h1
{
margin:20px auto;
}

h2{ 
font-family:Arial;
font-size:14px;
color:#404040;
}

h3{ 
margin-bottom:15px;
font-size:22px;
color:white;
text-shadow:1px 1px 3px #080808;
}

h4{
font-family:Arial;
font-size:14px;
font-weight:normal;
color:606060;
}

h5{ 
text-align:center;
font-family:Arial;
font-size:14px;
color:#404040;
}

h6{ 
text-align:center;
font-family:Arial;
font-size:14px;
font-weight:normal;
color:#606060;
}

.header-container
{	position:relative;
	z-index:1;
	background: -moz-linear-gradient(top,  #333,  #666);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#666');
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	height:40px;
	box-shadow:0 0 20px #999999;
	width:100%;
	border-radius:0px;
	margin:0 auto;
	min-width:920px;
}
.footer-container
{
	position:relative;
	z-index:2;
	background: -moz-linear-gradient(top,  #fff,  #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eaeaea');
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea));
	height:30px;
	box-shadow:0 0 20px #999999;
	width:100%;
	border-radius:0px;
	margin-top: 200px;

}
.footer-text
{
	margin: 0, auto;
}
.question-container
{
	padding:10px;
	margin-left:275px;
	width:800px;
	height:170px;
	background-color:#E1E1E1;
	border-radius:4px;
}
.fadeintext
{
	cursor:pointer;
}

ul
{
	list-style-type:none;
}

a:link{
font-family:Arial;
color:white;
font-weight:bold;
text-decoration:none;
}
a:visited{
font-family:Arial;
color:white;
font-weight:bold;
text-decoration:none;
}
a:hover{
font-family:Arial;
color:white;
font-weight:bold;
text-decoration:underline;
}
a:active{
font-family:Arial;
color:white;
font-weight:bold;
text-decoration:underline;
}


#fadeinwindow
{
	display:none;
	width:200px;
	background-color:#000;
	height:170px;
}
.question-font
{
	margin-left:35px;
	margin-top:20px;
	padding:10px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
}
.profilebox
{
	background-color: #fff;
	margin-left:275px;
	width:800px;
	border:1px solid #ebebeb;

	position:relative;
	float: left;
	padding-bottom: 20px;
	padding-right: 20px;
}
.changepasswordbox
{
	height:300px;
}
.profile-pic-box
{
	float: left;
	position:absolute;
	margin-left:100px;
	width:224px;
	border:1px solid #ebebeb;
	height:250px;
}
.profile-header
{
	margin-left:0px;
	margin-top:8px;
	background-color:#15a112;
	width:820px;
	height:40px;
	float: left;
}
.profile-pic
{
	width:300px;
	height:300px;
	margin-left:20px;
}
.badges, .about-user, .question, .allattempts
{
	padding:10px;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#fff;
	margin-left:50px;
	cursor:pointer;
	font-size:20px;
	width:60px;
	float:left;
}
.about-user
{
	margin-left:60px;
}
.active,.badges:hover, .about-user:hover, .allattempts:hover, .question:hover
{
	color:#2A2A2A;
}
.user-info,.badge-info,.question-info,.allattempts-info
{display:none;}
.active-desc
{display:block;}
.user-info,.badge-info, .question-info, .allattempts-info
{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#000;
	float:left;
	margin-left:60px;
	font-size:24px;
	margin-top:20px;
	clear:both;
	padding:8px;
}
.solutionspage
{
	margin-left: 20px;
	background-color: #15a112;
	border-radius:6px;
}
.questionbox
{
	background-color: #15a112;
	width:700px;
	border:2px solid #eaeaea;
	color: #fff;
}
.questionpage
{
	background-color: #fff;
	border:2px solid #fff;
	position: relative;
	width:auto;
	margin-left: 100px;
	margin-right: 100px;
	color:#000;
}
.badgepic
{
	width:100px;
	height:100px;	
}
.profile-page-username-font
{
	padding-left: 10px;
	color:#000;
	font-size:36px;
	font-family:"arial", "sans-serif", Times New Roman;
}
.proflie-page-editprofile-font
{
	float: right;
	font-family:"arial", "sans-serif", Times New Roman;
	font-size: 20px;
	coor:#222;
}
.editprofilebox
{
	font-family: "arial", "sans-serif", Times New Roman;
	color: #111;
}
#recommendation-box
{
	margin-left:820px;
	margin-top:200px;
	position:absolute;
	border-color:#0F0;
	border:1px solid #eaeaea;
	width:266px;
	float:right;
	clear:both;
	

}
.question-box
{
	background-color:#ECEFF5;
	border-radius:4px;
}
.recommended-question
{
	cursor:pointer;
	font-family:"arial","sans-serif",Times New Roman;
}

.slidecontainer
{
	width:100%;
	/*height:310px;*/
	height:100%;
	margin-top:50px;
	padding:3px;
	border-radius:0px;
}
.slidecontainertwo
{
	/*width:1343px;
	height:310px;*/
	margin-top:20px;
	padding:3px;
	border-radius:0px;
}
.videocontainer
{
	margin: 0px auto;
	border-radius:0px;
	width:100%;
	height:100%;
	
}
.tryit
{
	width:920px;
	height:350px;
	margin-left:175px;
}
.content-container
{
	width:1300px;
	height:300px;
	margin-top:0px;
	padding-left:260px;
}
.contentcolumn
{
	float:left;
	width:212px;
	height:297px;
	margin-top:20px;
}
.contentcolumntwo
{
	width:212px;
	height:297px;
	margin-top:20px;
	float:left;
	margin-left:50px;
}
.scratchpad
{
	position:relative;
	margin-left:40px;
	margin-top:200px;
	border:solid 2px #d0d0d0;
	width:550px;
	height:275px;
	float:left;
	z-index:101;
	box-shadow:0 0 30px #e0e0e0;
}
.marginscratchpad
{	padding-left:2px;
	padding-top:3px;
	height:272px;
	width:35px;
	float:left;
	background-color:#e8e8e8;
}
textarea
{
	padding:5px;
	outline:none;
}
.text-area-scratchpad
{	padding-left:2px;
	padding-top:3px;
	float:left;
	background-color:#f1f1f1;
	width:511px;
	height:246px;
}
.footer-scratchpad
{	padding-left:2px;
	padding-top:2px;
	position:relative;
	float:right;
	width:511px;
	height:24px;
	background-color:#e8e8e8;
}
.compilebutton
{
	position:relative;
	left:380px;
	float:left;
	margin:0px 3px;
	font-family: "Open Sans",sans-serif;
	margin-top:1px;
	background:#f8f8f8;
	border:1px solid #b0b0b0;
	color:#555555;
	border-radius:3px;
	height:19px;
	padding:0px 8px;
}
.choosefilebutton
{
	position:relative;
	left:380px;
	float:left;
	margin:0px 3px;
	font-family: "Open Sans",sans-serif;
	margin-top:1px;
	background:#f8f8f8;
	border:1px solid #b0b0b0;
	color:#555555;
	border-radius:3px;
	height:19px;
	padding:0px 8px;
}
.compilebutton:hover
{
	border-color:#777777;
	color:#222222;
	cursor:default;
}
.runbutton
{
	position:relative;
	left:380px;
	float:left;
	margin:0px 3px;
	font-family: "Open Sans",sans-serif;
	margin-top:1px;
	background:#f8f8f8;
	border:1px solid #b0b0b0;
	color:#555555;
	border-radius:3px;
	height:19px;
	padding:0px 8px;
}

.columtext
{
	width:212px;
	height:150px;
}
.columntitle
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
}
.searchbar
{
	font:14px  "Lucida Console", Monaco, monospace;
	height:20px;
	width:120px;
	border-radius:14px;
	background-color:#333;
	margin-right:25px;
	margin-top:9px;
	float:right;
	position:relative;
	outline: none;
	-webkit-transition:all 0.25s ease-in 0;
	border:none;
	color:#ffffff;
	padding-left:25px
}
.searchbar:focus
{
	width:200px;
	background-color:#F4F4F4;
	color:#111;
}
.dropdown
{
	display:none;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	position:relative;
	background-color:#999;
	width:150px;
	top:30px;
	left:30px;
	margin-top:10px;
	border-radius:4px;
	border-top-color:#;
	height:100px;
	padding:5px 5px;
}
.searchicon
{
	position:relative;	
	float:left;
	margin-top:12px;
	left:205px;
}
.searchiconhover
{
	position:relative;
	float:left;
	margin-top:12px;
	left:205px;
	display:none;
}
.dropdown ul{margin:0;list-style:none;padding:0;display:block;}
.dropdown li{}
.container
{
	width:200px;
	float:right;
}
.arrow
{
/*	top:10px;
	left:130px;*/
	cursor:pointer;
	font-family:"Lucida Console", Monaco, monospace;
	color:#FFF;
	width:40px;
	height:30px;
	margin:10px 20px 7px 5px;
	float:right;
	margin-right:10px;
	position:relative;
	overflow:hidden;
}
.box
{
	background-color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15);
	box-shadow:0 1px 1px rgba(0,0,0,0.15);
	padding:0px;position:relative;
	overflow:hidden;text-align:left
}
.userprofilebox
{
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#efefef));
	position:absolute;
	background-color:#999;
	border-color:#099;
	box-shadow:0 1px 1px rgba(0,0,0,.0.15);
	margin-left:0px;
	margin-top:10px;
	border-radius:4px;
	height:600px;
	width:300px;
	padding:5px 5px;
}
#profileboxright
{
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#efefef));
	position:relative;
	background-color:#999;
	border-color:#000;
	box-shadow:0 1px 1px rgba(0,0,0,.0.15);
	margin-left:330px;
	margin-top:10px;
	border-radius:4px;
	height:600px;
	width:1000px;
	padding:5px 5px;
}
.profilenamefont
{
	font-family:"Comic Sans MS", cursive;
	font-size:24px;
	margin-left:50px;
	margin-top:220px;
}
.login
{
	clear: both;
	color:#fff;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:16px;
	position:inherit;
	width:100px;
	margin-left:auto;
	/*float:right;
	margin-right:100px;*/
	padding-top:10px;
	cursor:pointer;
}
.logo
{
	height:30px;
	margin-left:50px;
	margin-top:4px;
	padding:1px;
	position:absolute;
	
}
#LanguageSelector
{
	margin-left:20px;
	margin-top:30px;
	position:absolute;
	float:left;
}
.loginwindow-container
{
	height:100%;
	border-color:#999;
	position:center;
	margin-top:50px;
	border-radius:0px;
	background-color:#15a112;
	padding:10px;
	display:block;
}
.loginwindow
{
	/*margin-left:470px;
	margin-top:80px;*/
	
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-left:auto;
	padding-right:auto;
	display:inline;
	/*float:left;*/
}
.loginpage
{
	height:270px;
}

.testloginwindow-container
{
	width:500px;
	background-color:#F4F2F2;
	border-radius:4px;
	border-color:#CCC;
	margin-top:200px;
	border-color:#333;
	margin-left:420px;
	height:200px;
}
	
.testregisterwindow
{
	position:absolute;
	margin-left:500px;
	margin-top:80px;
}
.testregisterfont
{
	font:15px  "Lucida Console", Monaco, monospace;
	color:#FFF;
}
.testusernamefont
{
	color:#000;
	margin-left:16px;
	font:15px  "Lucida Console", Monaco, monospace;
}
.testloginwindow
{
	margin-left:50px;
	background-color:#F4F2F2;
	border-radius:4px;
	border-color:#CCC;
	margin-top:200px;
	border-color:#333;
}
.testusernamebox
{
	font:14px  "Lucida Console", Monaco, monospace;
	height:20px;
	width:360px;
	box-shadow:0 0 5px #CCC;
	border-radius:4px;
	background-color:#FFF;
	margin-top: 3px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left:10px;
	outline:#999;
}
.registerwindow
{
	/*width:320px;
	height:180px;
	border-color:#999;
	position:inherit;
	margin-left:500px;
	margin-top:220px;*/
	border-radius:4px;
	margin: 0px auto;
	/*background-color:#D8D8D8;*/
	padding:10px;
	/*display:block;*/
}
.usernamebox
{
	font:14px  "Lucida Console", Monaco, monospace;
	height:20px;
	width:180px;
	box-shadow:0 0 5px #CCC;
	border-radius:4px;
	background-color:#FFF;
	margin-top: 10px;
	padding-top: 5px;
	margin-right: 0;
	margin-left:0;
	margin-bottom: 0;
	margin-left:10px;
	outline:#999;
	display:block;

}
.rusernamebox
{
	font:14px  "Lucida Console", Monaco, monospace;
	/*height:20px;
	width:180px;*/
	box-shadow:0 0 5px #CCC;
	border-radius:4px;
	background-color:#FFF;
	margin-top: 10px;
	padding-top: 5px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: auto;
	/*margin-left:10px;*/
	outline:#999;
	display:block;

}
/*#search
{width:180px;padding:17px 0px 0px 0px;margin:0px;float:left
}*/

.submitButton
{
	/*position:absolute;*/
	
	/*margin-left:15px;*/
	display:block;
	outline:none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	color: #fffbf9;
	border: solid 1px #0b86f9;
	background: #c50503; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#0071E1), to(#382B86)); /* For Webkit Browsers */
	background: -moz-linear-gradient(top, #0071e1, #382b86); /* for Firefox */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071e1', endColorstr='#382b86'); /* for IE */
	/*cursor:pointer;
	background:url(button.jpg);
	width:105px;
	height:30px;
	font:15px  "Lucida Console", Monaco, monospace;
	margin:15px 0 0 20px;
	box-shadow:0 0 5px #333;
	border-radius:4px;
	background-color:#FFF;*/
}
.signupButton
{
	margin-left:150px;
	display: block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	color: #fffbf9;
	border: solid 1px #0b86f9;
	background: #c50503; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#0071E1), to(#382B86)); /* For Webkit Browsers */
	background: -moz-linear-gradient(top, #ff8a50, #c30000); /* for Firefox */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a50', endColorstr='#c30000'); /* for IE */
	/*cursor:pointer;
	background:url(button.jpg);
	width:105px;
	height:30px;
	font:15px  "Lucida Console", Monaco, monospace;
	margin:15px 0 0 20px;
	box-shadow:0 0 5px #333;
	border-radius:4px;
	background-color:#FFF;*/
}
.submitButton:hover
{
	background: #c50503; /* for non-css3 browsers */
background: -webkit-gradient(linear, left top, left bottom, from(#05A), to(#000082)); /* For Webkit Browsers */
background: -moz-linear-gradient(top, #05a, #000082); /* for Firefox */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05a', endColorstr='#000082'); /* for IE */
}
#signupbutton
{
	display:block;
}
.registerButton
{
	font:15px  "Lucida Console", Monaco, monospace;
	height:30px;
	width:200px;
	box-shadow:0 0 5px #333;
	border-radius:4px;
	background-color:#FFF;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.submitButton:hover
{
	background-color:#09f;
}
.registerButton:hover
{
	background-color:#09F;
}
.editprofilebutton
{

	border: solid 1px #eaeaea;

	margin-left: 650px;
	float: right;
}
.editprofilebutton:hover



.changepasswordbutton
{
	padding:100px;
}
#submitsolutionbutton
{
	margin-left: 45px;
}
.usernamefont
{
	margin-left:16px;
	padding:-10px auto;
	font:15px  "Lucida Console", Monaco, monospace;
	color:white;
}
.registerpage
{
	margin-left: 0px;
}
.usernamefont input
{
	padding:10px auto;
}
.testfont
{
	float: left;
	color: #eaeaea;
	font-size: 14px;
	display: inline;
}
.registertext
{
	font:17px "Lucida Console", Monaco, monospace;
	color:#CCC;
	margin:10px 0 0 20px;
}
.signupheading
{
	color:#999;
	margin-top:2px;
	margin-left:22px;
	position:inherit;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 17px;
	font-weight: bolder;
}
.placeholding-input
{	height:30px;
}
.text-input
{	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 #eee,#fff 0 1px 0;
	-moz-box-shadow:inset 0 1px 0 #eee,#fff 0 1px 0;
	box-shadow:inset 0 1px 0 #eee,#fff 0 1px 0;
}
.placeholder
{	position:absolute;
	top:1px;
	right:1px;
	bottom:1px;
	left:2px;
	z-index:1;
	height:20px;
	padding:4px;
	font-size:13px;
	line-height:20px;
	color:#999;
	text-shadow:0 1px 0 rgba(255,255,255,.5);	white-space:nowrap;
	cursor:text;
	-webkit-transition:opacity .1s,font-size .1s;-moz-transition:opacity .1s,font-size .1s;-o-transition:opacity .1s,font-size .1s;-webkit-user-select:none;
	-moz-user-select:none;-o-user-select:none;user-select:none;
}
#login
{	
	font-weight:bold;
	color:white;
	padding-top:15px;
	padding-right:15px;
	float:right;
	display:inline;
}
body
{
	margin:0 0 0 0;
}
.main
{
	height:100px;
}
.element
{
	font-size:72px;
	color: #eaeaea;
	font:Verdana, sans-serif;
	padding-top:4px;
	padding-left:auto;
	padding-right:auto;
	margin-left: 520px;
	display:block;
}
.relement
{
	padding-top:15px;
	padding-left:auto;
	padding-right:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	/*float:right;*/
}

.relement p
{
text-align:right;
}

.relement label
{
display:block;
margin-top: 10px;
/*margin:10px auto;
padding-top:10px;*/
float:left;
}
.relement input
{
	font:20px  "Lucida Console", Monaco, monospace;
	/*height:20px;
	width:180px;*/
	box-shadow:0 0 5px #CCC;
	border-radius:4px;
	background-color:#FFF;
	margin-top: 3px;
	/*padding-top: 5px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: auto;
	margin-left:10px;*/
	outline:#999;
	display:block;
	float:right;
}
#submit
{
margin-top:15px;
width:200px;
display:block;
}

.submit input
{
display:block;
/*padding-top:50px;*/
}
.errorlist
{
	margin-left: 536px;
	font-family: Verdana,sans-serif;	
	color: blue;
	font-weight:bold;
	display: inline;
	font-size:14px;
	width:20px;
}


.wrapper
{
	background-color:#15a112;
	
	/*margin-left:275px;*/
	width:800px;
	height:100%;
	border-radius:4px;
	
}
.wrapper th
{
font-family:Arial;
font-size:20px;
text-align:center;
padding:20px;
}

.wrapper td
{
text-align:center;
padding:20px;
}
.question{
padding:20px auto;
display:inline;
}

.users{
padding:20px auto;
display:inline;
}

.accuracy{
padding:20px auto;
display:inline;
}

.rating{
padding:20px auto;
display:inline;
}

#body
{
	font:20px  "Lucida Console", Monaco, monospace;
	margin:15px ;
	padding:15px;
}

#comments
{
	font:25px  "Lucida Console", Monaco, monospace;
	margin:15px;
	padding:15px;
}


.comment
{
	width: 600px;
	font-size:20px;
	margin:15px;
	padding:15px;
	display:block;
	border:3px solid #50c3c9;
	background-color:#edeff4;
	border-radius: 4px;
}

.comment-meta
{
	padding:10px;
	font:15px  "Arial", Monaco, monospace;
}

#signupbutton
{
	margin:auto;
	display:block;
}

.celement
{
	font:20px  "Lucida Console", Monaco, monospace;
	width:500px;
	padding-top:15px;
	padding-left:auto;
	padding-right:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	/*float:right;*/
}

.celement p
{
text-align:right;
}

.celement label
{
font:20px  "Lucida Console", Monaco, monospace;
display:inline-;
margin-top: 10px;
/*margin:10px auto;
padding-top:10px;*/
float:left;
}
.celement input
{
	font:20px  "Lucida Console", Monaco, monospace;
	/*height:20px;
	width:180px;*/
	box-shadow:0 0 5px #CCC;
	border-radius:4px;
	background-color:#FFF;
	margin-top: 3px;
	/*padding-top: 5px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: auto;
	margin-left:10px;*/
	outline:#999;
	display:inline;
	float:right;
}

.commentformcontainer
{
	background-color: edeff4;
float:left;
text-align:left;
padding-left:15px;
display:inline;
padding-bottom:5px;
}
.question-title
{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 30px;
	color: #3b5998;
	padding-top: 50px;
	text-align: center;

}
#browse-font
{
	color:#0bf;
}
#browse-font:hover
{
	color:#555;
}
.page:link
{
	font-family:Arial;
color:#000;
font-weight:bold;
text-decoration:none;
	}
.page:visited
{
	font-family:Arial;
color:#000;
font-weight:bold;
text-decoration:none;
}
.next
{
	color:#000;
}
.next:visited
{
	color:#000;
}
.next:link
{
	color:#000;
}
.next:hover
{
	color:#000;
}
.prev
{
	color:#000;
}
.prev:link
{
	color:#000;
	}
.prev:visited
{
	color:#000;
}
.attemptbyidpage
{
	font:"arial";
	font-size:20px;
	color:#000;
	padding:15px;
}
.pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.wikifont
{
	font-family:"arial","sans-serif","Times New Roman"
	color:#000;
}
.wikifont:link
{
	font-family:"arial","sans-serif","Times New Roman"
	color:#000;
}
.wikifont:visited
{
	font-family:"arial","sans-serif","Times New Roman"
	color:#000;
}
.wikifont:hover
{
	font-family:"arial","sans-serif","Times New Roman"
	color:#000;
}
.aboutUs
{
	margin-left:470px;
	background-color:#ccc;
	width:400px;
	margin-top:10px;
	font-family:arial,"sans-serif";
	-moz-box-shadow:    1px 1px 2px 3px #ccc;
	-webkit-box-shadow: 1px 1px 2px 3px #ccc;
	box-shadow:         1px 1px 2px 3px #ccc;
}
.changepassword
{
	cursor:default;
}
