{% load i18n %}<html>
<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="alternate" type="application/rss+xml" title="{% trans "All Latest Posts via RSS" %}" href="{% url forum_index %}rss/" />
		<link rel="alternate" type="application/atom+xml" title="{% trans "All Latest Posts via ATOM" %}" href="{% url forum_index %}atom/" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/styles.css" />

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.js"></script>	
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>
		{% block extrahead %}{% endblock %}
</head>
<style type='text/css'><!--
body {
    font-family: Verdana;
    font-size: 10px;
    text-align: center;
}

#djangoForumBody {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#djangoForumList,
#djangoForumThreadList,
#djangoForumThreadPosts {
    border-collapse: collapse;
    width: 100%;
}

#djangoForumList td,
#djangoForumThreadList td,
#djangoForumThreadPosts td {
    border: solid #777 1px;
    padding: 6px;
}

#djangoForumList .djangoForumListDetails {
    width: 70%;
}

#djangoForumList .djangoForumListDetails strong {
    font-size: 120%;
}

#djangoForumList .djangoForumListDetails .djangoForumStats {
    font-size: 80%;
}

.djangoForumListLastPost,
.djangoForumThreadLastPost {
    background-color: #ccc;
    border-bottom: solid #777 1px;
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th {
    background-color: #3a3;
    border: solid #777 1px;
    color: #fff;
    text-align: left;
    padding: 4px;
}

#djangoForumThreadPosts th {
    width: 20%;
}

#djangoForumBreadcrumbs {
    padding: 20px;
}

#djangoForumBody label {
    font-size: 110%;
    font-weight: bold;
    display: block;
    padding: 4px;
}

#djangoForumThreadPostDetail {
    width: 20%;
}
.djangoForumPagination {
    display: inline;
}
--></style>
<body>
<div style="background-color:#0b86f9">
<div id="header" class="header-container" align=left style="font-size:17px;">
	<a href="/"><img class="logo" src="{{STATIC_URL}}img/ecodena logo.png" /></a>
	
	{% block header %} {% endblock %}
	{% if not user.is_authenticated %}
    <div id="login" class="login1"><a href="/login">Login</a> | <a href="/register">Register</a></div>
    {% else %}
    <div id="login" class="login1">Welcome {{ user }} | <a href="/profile">Profile</a> | <a href="/logout">Logout</a></div>
    {% endif %}
    
</div>	
<div class="forum-container">
	<div id='djangoForumBody'>
		<h1>{% block pagetitle %}{% trans "Welcome to the Forums" %}{% endblock %}</h1>
		<div id='djangoForumBreadcrumbs'><a style="color:white" href='/'>{% trans "Home" %}</a> &raquo; <a style="color:#fff" href='{% url forum_index %}'>{% trans "Forums" %}</a>{% block breadcrumbs %}{% endblock %}></div>
		{% block content %}{% endblock %}
	</div>
</div>
</div>
<div class="footer-text">
			<a href="/aboutUs" style="color:#000;padding-left:20px;font-size:16px">About Us |
			</a>
			<a href="/wiki/" style="color:#000;font-size:16px"> Wiki
			</a>  
			</div>
		</div>
</body>
</html>
