{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}    
	
	<div class="profilebox">
    	<span class="profile-page-username-font"> {% firstof targetuser.first_name user.first_name%} {%firstof targetuser.last_name user.last_name %}
		{% if other == 1 %}
		<span style="display:inline"><form action="/profile/edit/"><input type="submit"  class="submitButton editprofilebutton" id="commentbutton" value="Edit Profile" > </form></span>   	
    	</span>
    	{% endif %}
        <div class="profile-header">
        	<div class="about-user active" onclick='changeActive(this,".profilebox .user-info")'><span> AllAttempts</span>
            </div>
            <!--div class="allattempts" onclick='changeActive(this,".profilebox .allattempts-info")'> <span style="padding-left:13px;"> AllAttempts</span>
            </div-->
            <script>
            	function changeActive(elem,id)
                {
                	$(".profile-header .active").removeClass("active");
                    $(elem).addClass("active");
					$(".profilebox .active-desc").removeClass("active-desc");
					$(id).addClass("active-desc");
                }
            </script>
        </div>
        <div class="user-info active-desc solutionspage">
	      <ul>
		<table>
		<th colspan="2" width="40px">Attempt ID</th>
		<th colspan="4" width="250px">Date</th>
		<th colspan="4">Problem</th>
		<th colspan="4" width="100px">Result</th>
		<th colspan="2" width="60px">Time</th>
		<th colspan="2" width="80px">Mem</th>
		<th>Lang</th>

		{%for solution in solutions%}
		<tr>
		<td style="text-align:center" colspan="2"><a href="/solutions/{{solution.attemptID_f}}" style="color:#fff" ><font size=4px>{{solution.attemptID_f}}</font></td>
		<td style="text-align:center" colspan="4"><font size=4px>{{solution.timeOfSubmission_f}}</font></td>
		<td style="text-align:center" colspan="4"><a href="/questions/{{solution.questionID.questionID_f}}" style="color:#fff" ><font size=4px>{{solution.questionID.questionTitle_f}}</font></a></td>
		{%if solution.status_f%}
		<td style="text-align:center" colspan="4"><font size=4px>Correct</font></td>
		{%else%}
		<td style="text-align:center" colspan="4"><font size=4px>Wrong</font></td>
		{%endif%}
		<td style="text-align:center" colspan="2"><font size=4px>{{solution.errorReportID.timeRequirement}}</font></td>
		<td style="text-align:center" colspan="2"><font size=4px>{{solution.errorReportID.memory}}</font></td>
		<td style="text-align:center"><font size=4px>{{solution.compilerVersion.language_f}}</font></td>
		</tr>
		
		{% endfor %}
				</table>
	</ul>
        </div>    
{% endblock %}

